/* .eslintrc file containing all of p5js@0.9.0 objects as global objects which was generated
using https://github.com/mikewesthad/p5-eslint
also see https://www.youtube.com/watch?v=clzTwZgMlqE for usage */
{
	"env": {
		"node": true,
		"browser": true,
		"amd": true,
		"es6": true
	},
	"globals": {
		"p5": "readonly",
		"remove": "readonly",
		// "setup": "readonly",
		// "draw": "readonly",
		"canvas": "readonly",
		"width": "readonly",
		"height": "readonly",
		"drawingContext": "readonly",
		"P2D": "readonly",
		"WEBGL": "readonly",
		"ARROW": "readonly",
		"CROSS": "readonly",
		"HAND": "readonly",
		"MOVE": "readonly",
		"TEXT": "readonly",
		"WAIT": "readonly",
		"HALF_PI": "readonly",
		"PI": "readonly",
		"QUARTER_PI": "readonly",
		"TAU": "readonly",
		"TWO_PI": "readonly",
		"DEGREES": "readonly",
		"RADIANS": "readonly",
		"DEG_TO_RAD": "readonly",
		"RAD_TO_DEG": "readonly",
		"CORNER": "readonly",
		"CORNERS": "readonly",
		"RADIUS": "readonly",
		"RIGHT": "readonly",
		"LEFT": "readonly",
		"CENTER": "readonly",
		"TOP": "readonly",
		"BOTTOM": "readonly",
		"BASELINE": "readonly",
		"POINTS": "readonly",
		"LINES": "readonly",
		"LINE_STRIP": "readonly",
		"LINE_LOOP": "readonly",
		"TRIANGLES": "readonly",
		"TRIANGLE_FAN": "readonly",
		"TRIANGLE_STRIP": "readonly",
		"QUADS": "readonly",
		"QUAD_STRIP": "readonly",
		"CLOSE": "readonly",
		"OPEN": "readonly",
		"CHORD": "readonly",
		"PIE": "readonly",
		"PROJECT": "readonly",
		"SQUARE": "readonly",
		"ROUND": "readonly",
		"BEVEL": "readonly",
		"MITER": "readonly",
		"RGB": "readonly",
		"HSB": "readonly",
		"HSL": "readonly",
		"AUTO": "readonly",
		"ALT": "readonly",
		"BACKSPACE": "readonly",
		"CONTROL": "readonly",
		"DELETE": "readonly",
		"DOWN_ARROW": "readonly",
		"ENTER": "readonly",
		"ESCAPE": "readonly",
		"LEFT_ARROW": "readonly",
		"OPTION": "readonly",
		"RETURN": "readonly",
		"RIGHT_ARROW": "readonly",
		"SHIFT": "readonly",
		"TAB": "readonly",
		"UP_ARROW": "readonly",
		"BLEND": "readonly",
		"ADD": "readonly",
		"DARKEST": "readonly",
		"LIGHTEST": "readonly",
		"DIFFERENCE": "readonly",
		"EXCLUSION": "readonly",
		"MULTIPLY": "readonly",
		"SCREEN": "readonly",
		"REPLACE": "readonly",
		"OVERLAY": "readonly",
		"HARD_LIGHT": "readonly",
		"SOFT_LIGHT": "readonly",
		"DODGE": "readonly",
		"BURN": "readonly",
		"THRESHOLD": "readonly",
		"GRAY": "readonly",
		"OPAQUE": "readonly",
		"INVERT": "readonly",
		"POSTERIZE": "readonly",
		"DILATE": "readonly",
		"ERODE": "readonly",
		"BLUR": "readonly",
		"NORMAL": "readonly",
		"ITALIC": "readonly",
		"BOLD": "readonly",
		"LINEAR": "readonly",
		"QUADRATIC": "readonly",
		"BEZIER": "readonly",
		"CURVE": "readonly",
		"STROKE": "readonly",
		"FILL": "readonly",
		"TEXTURE": "readonly",
		"IMMEDIATE": "readonly",
		"LANDSCAPE": "readonly",
		"PORTRAIT": "readonly",
		"registerPreloadMethod": "readonly",
		"registerMethod": "readonly",
		"alpha": "readonly",
		"blue": "readonly",
		"brightness": "readonly",
		"color": "readonly",
		"green": "readonly",
		"hue": "readonly",
		"lerpColor": "readonly",
		"lightness": "readonly",
		"red": "readonly",
		"saturation": "readonly",
		"background": "readonly",
		"clear": "readonly",
		"colorMode": "readonly",
		"fill": "readonly",
		"noFill": "readonly",
		"noStroke": "readonly",
		"stroke": "readonly",
		"float": "readonly",
		"int": "readonly",
		"str": "readonly",
		"boolean": "readonly",
		"byte": "readonly",
		"char": "readonly",
		"unchar": "readonly",
		"hex": "readonly",
		"unhex": "readonly",
		"append": "readonly",
		"arrayCopy": "readonly",
		"concat": "readonly",
		"reverse": "readonly",
		"shorten": "readonly",
		"shuffle": "readonly",
		"sort": "readonly",
		"splice": "readonly",
		"subset": "readonly",
		"join": "readonly",
		"match": "readonly",
		"matchAll": "readonly",
		"nf": "readonly",
		"nfc": "readonly",
		"nfp": "readonly",
		"nfs": "readonly",
		"split": "readonly",
		"splitTokens": "readonly",
		"trim": "readonly",
		"print": "readonly",
		"frameCount": "readonly",
		"focused": "readonly",
		"cursor": "readonly",
		"frameRate": "readonly",
		"getFrameRate": "readonly",
		"setFrameRate": "readonly",
		"noCursor": "readonly",
		"displayWidth": "readonly",
		"displayHeight": "readonly",
		"windowWidth": "readonly",
		"windowHeight": "readonly",
		"fullscreen": "readonly",
		"pixelDensity": "readonly",
		"displayDensity": "readonly",
		"getURL": "readonly",
		"getURLPath": "readonly",
		"getURLParams": "readonly",
		"createImage": "readonly",
		"saveCanvas": "readonly",
		"saveFrames": "readonly",
		"loadImage": "readonly",
		"image": "readonly",
		"tint": "readonly",
		"noTint": "readonly",
		"imageMode": "readonly",
		"pixels": "readonly",
		"blend": "readonly",
		"copy": "readonly",
		"filter": "readonly",
		"get": "readonly",
		"loadPixels": "readonly",
		"set": "readonly",
		"updatePixels": "readonly",
		"loadJSON": "readonly",
		"loadStrings": "readonly",
		"loadTable": "readonly",
		"parseXML": "readonly",
		"loadXML": "readonly",
		"httpGet": "readonly",
		"httpPost": "readonly",
		"httpDo": "readonly",
		"createWriter": "readonly",
		"save": "readonly",
		"saveJSON": "readonly",
		"saveJSONObject": "readonly",
		"saveJSONArray": "readonly",
		"saveStrings": "readonly",
		"saveTable": "readonly",
		"writeFile": "readonly",
		"downloadFile": "readonly",
		"isKeyPressed": "readonly",
		"keyIsPressed": "readonly",
		"key": "readonly",
		"keyCode": "readonly",
		"keyIsDown": "readonly",
		"deviceOrientation": "readonly",
		"accelerationX": "readonly",
		"accelerationY": "readonly",
		"accelerationZ": "readonly",
		"pAccelerationX": "readonly",
		"pAccelerationY": "readonly",
		"pAccelerationZ": "readonly",
		"rotationX": "readonly",
		"rotationY": "readonly",
		"rotationZ": "readonly",
		"pRotationX": "readonly",
		"pRotationY": "readonly",
		"pRotationZ": "readonly",
		"turnAxis": "readonly",
		"setMoveThreshold": "readonly",
		"setShakeThreshold": "readonly",
		"mouseX": "readonly",
		"mouseY": "readonly",
		"pmouseX": "readonly",
		"pmouseY": "readonly",
		"winMouseX": "readonly",
		"winMouseY": "readonly",
		"pwinMouseX": "readonly",
		"pwinMouseY": "readonly",
		"mouseButton": "readonly",
		"mouseIsPressed": "readonly",
		"day": "readonly",
		"hour": "readonly",
		"minute": "readonly",
		"millis": "readonly",
		"month": "readonly",
		"second": "readonly",
		"year": "readonly",
		"touches": "readonly",
		"createVector": "readonly",
		"abs": "readonly",
		"ceil": "readonly",
		"constrain": "readonly",
		"dist": "readonly",
		"exp": "readonly",
		"floor": "readonly",
		"lerp": "readonly",
		"log": "readonly",
		"mag": "readonly",
		"map": "readonly",
		"max": "readonly",
		"min": "readonly",
		"norm": "readonly",
		"pow": "readonly",
		"round": "readonly",
		"sq": "readonly",
		"sqrt": "readonly",
		"randomSeed": "readonly",
		"random": "readonly",
		"randomGaussian": "readonly",
		"noise": "readonly",
		"noiseDetail": "readonly",
		"noiseSeed": "readonly",
		"acos": "readonly",
		"asin": "readonly",
		"atan": "readonly",
		"atan2": "readonly",
		"cos": "readonly",
		"sin": "readonly",
		"tan": "readonly",
		"degrees": "readonly",
		"radians": "readonly",
		"angleMode": "readonly",
		"setAttributes": "readonly",
		"createCanvas": "readonly",
		"resizeCanvas": "readonly",
		"noCanvas": "readonly",
		"createGraphics": "readonly",
		"blendMode": "readonly",
		"arc": "readonly",
		"ellipse": "readonly",
		"line": "readonly",
		"point": "readonly",
		"quad": "readonly",
		"rect": "readonly",
		"triangle": "readonly",
		"ellipseMode": "readonly",
		"noSmooth": "readonly",
		"rectMode": "readonly",
		"smooth": "readonly",
		"strokeCap": "readonly",
		"strokeJoin": "readonly",
		"strokeWeight": "readonly",
		"bezier": "readonly",
		"bezierDetail": "readonly",
		"bezierPoint": "readonly",
		"bezierTangent": "readonly",
		"curve": "readonly",
		"curveDetail": "readonly",
		"curveTightness": "readonly",
		"curvePoint": "readonly",
		"curveTangent": "readonly",
		"beginContour": "readonly",
		"beginShape": "readonly",
		"bezierVertex": "readonly",
		"curveVertex": "readonly",
		"endContour": "readonly",
		"endShape": "readonly",
		"quadraticVertex": "readonly",
		"vertex": "readonly",
		"exit": "readonly",
		"noLoop": "readonly",
		"loop": "readonly",
		"push": "readonly",
		"pop": "readonly",
		"pushStyle": "readonly",
		"popStyle": "readonly",
		"redraw": "readonly",
		"size": "readonly",
		"applyMatrix": "readonly",
		"popMatrix": "readonly",
		"printMatrix": "readonly",
		"pushMatrix": "readonly",
		"resetMatrix": "readonly",
		"rotate": "readonly",
		"rotateX": "readonly",
		"rotateY": "readonly",
		"rotateZ": "readonly",
		"scale": "readonly",
		"shearX": "readonly",
		"shearY": "readonly",
		"translate": "readonly",
		"textAlign": "readonly",
		"textLeading": "readonly",
		"textSize": "readonly",
		"textStyle": "readonly",
		"textWidth": "readonly",
		"textAscent": "readonly",
		"textDescent": "readonly",
		"loadFont": "readonly",
		"text": "readonly",
		"textFont": "readonly",
		"createStringDict": "readonly",
		"createNumberDict": "readonly",
		"plane": "readonly",
		"box": "readonly",
		"sphere": "readonly",
		"cylinder": "readonly",
		"cone": "readonly",
		"ellipsoid": "readonly",
		"torus": "readonly",
		"loadModel": "readonly",
		"model": "readonly",
		"loadShader": "readonly",
		"createShader": "readonly",
		"shader": "readonly",
		"normalMaterial": "readonly",
		"texture": "readonly",
		"ambientMaterial": "readonly",
		"specularMaterial": "readonly",
		"ambientLight": "readonly",
		"directionalLight": "readonly",
		"pointLight": "readonly",
		"camera": "readonly",
		"perspective": "readonly",
		"ortho": "readonly",
		"orbitControl": "readonly",
		"select": "readonly",
		"selectAll": "readonly",
		"removeElements": "readonly",
		"createDiv": "readonly",
		"createP": "readonly",
		"createSpan": "readonly",
		"createImg": "readonly",
		"createA": "readonly",
		"createSlider": "readonly",
		"createButton": "readonly",
		"createCheckbox": "readonly",
		"createSelect": "readonly",
		"createRadio": "readonly",
		"createInput": "readonly",
		"createFileInput": "readonly",
		"createVideo": "readonly",
		"createAudio": "readonly",
		"VIDEO": "readonly",
		"AUDIO": "readonly",
		"createCapture": "readonly",
		"createElement": "readonly",
		"getAudioContext": "readonly",
		"isSupported": "readonly",
		"isFileSupported": "readonly",
		"getMasterVolume": "readonly",
		"masterVolume": "readonly",
		"soundOut": "readonly",
		"sampleRate": "readonly",
		"freqToMidi": "readonly",
		"midiToFreq": "readonly",
		"soundFormats": "readonly",
		"disposeSound": "readonly",
		"loadSound": "readonly",
		"createConvolver": "readonly",
		"setBPM": "readonly",
		"saveSound": "readonly"
	},
	"root": true,
	"extends": ["eslint:recommended"],
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"rules": {
		"no-cond-assign": ["error", "except-parens"],
		"eqeqeq": ["warn", "smart"],
		"no-use-before-define": [
			"error",
			{
				"functions": false
			}
		],
		"new-cap": "off",
		"no-caller": "error",
		"no-undef": "error",
		"no-unused-vars": ["warn", { "varsIgnorePattern": "setup|draw" }],
		"no-empty": ["warn", { "allowEmptyCatch": true }],
		"no-console": "off",
		"semi": "warn",
		"semi-style": "warn"
	}
}
